HairParty_v01/.DS_Store
HairParty_v01/Library
HairParty_v01/Temp
*.apk
*.csproj
*.pidb
*.sln
*.suo
*.unityproj
*.userprefs
*.app
HairParty_v01/DDD_Data/
HairParty_v01/obj/Debug
HairParty_v01/HairParty_Data/
HairParty_v01/HairParty.exe
*.pdb
*.zip
HairParty_v01/Assets/Textures/
HairParty_v01/Assets/Materials/
HairParty_v01/Assets/Models/